    body{
        background-color:rgb(76, 68, 133);
        color:aliceblue;
        font-family:helvetica;
      }

      p, a:not(.navbutton){
        font-size:13px;
      }

      #maindiv{
        padding:20px;
        margin:0% 30%;
      }

      /*navigation*/
      #navbar{
        display:flex;
      }

      .navbutton{ /*individual navigation links*/
        color:antiquewhite;
        text-decoration:none;
        margin:0px 10px 0px 0px;
      }

      .navbutton:hover{
        font-size:15px;
      }

      /*senti-mental logo*/
      #sentismall{
        color:aliceblue;
        text-decoration:none;
        font-size:11px;
      }

      /*whole art gallery*/
      #gallery{
        margin:0% 2%;
        background-color:rgb(69, 62, 122);
        display:grid;
      }

      .artwork{ /*individual artpieces*/
        height:400px;
      }