    body{
        background-color:rgb(76, 68, 133);
        color:aliceblue;
        font-family:helvetica;
      }

      #maindiv{
        padding:20px;
        margin:0% 30%;
      }

      /*navigation*/
      #navbar{
        display:flex;
      }

      .navbutton{
        color:antiquewhite;
        text-decoration:none;
        margin:0px 10px 0px 0px;
      }

      .navbutton:hover{
        font-size:15px;
      }

      /*senti-mental logo*/
      #sentismall{
        color:aliceblue;
      }